name: Test Project
on:
  pull_request:
    types:
      - opened
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v6

      - name: Set Up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set Up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Test
        run: ./api/gradlew -p api clean test